{% extends 'base.html' %}

{% load static %}

{% block title %}Explore Malmö{% endblock %}

{% block head %}
    <link rel="shortcut icon" href="{% static 'places/img/favicon.png' %}">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet'/>
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<style>
    #map {
        position: fixed;
        padding: 0;
        margin: 0 0 0 0;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
    }

    .mapboxgl-ctrl-scale{
        background-color: hsla(0,0%,100%,0);
    }

    .mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
</style>

<meta charset="UTF-8">
{% endblock %}

{% block content %}
<div id='map'></div>
{% endblock %}

{% block scripts %}
        <script type="text/javascript" src="{% static "places/js/app.js" %}"></script>
{% endblock %}
